/* colors
Aqua #2d8992
 - #005760
 - #147079
 - #2d8992
 - #46A2AB
 - #5FBBC4

Black #1e1e1e

Orange #e14f10

Grey #cbcbcc
*/
body {
  background-color: #46A2AB;
}

main {
  background-color: #5FBBC4;
  box-shadow: 2px 2px 5px 3px;
  margin: auto;
  padding: 5px 5px 5px 5px;
  max-width: 15in;
  /* align-self: center; */
}

/* table, th, td {
  border:1px solid black;
} */

table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #46A2AB;
}

th {
  text-align: center;
}
tr {min-width: 1in;}
tr:nth-child(even) {
  background-color: #147079;
}

input {
  width: 100px;
}

div {
  /* border:1px solid black; */
  margin: 1px;
}

/* align inputs */
.inputalign  {
  display: table;
  margin: 10px 0px;
}
.inputalign > p {
  display: table-row;
}
.inputalign > p > label {
  display: table-cell;
  text-align: center;
}
.inputalign > p > input {
  display: table-cell;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

/* .flex-container > div {
  margin: auto;
} */

#TableContainer {
  border: 1px dotted #147079;
  margin: 10px 10px;
}