table, th, td {
  border:1px solid black;
}

/* align inputs */
.inputalign  {
  display: table;
}
p.inputalign  {
  display: table-row;
}
label.inputalign  {
  display: table-cell;
}
input.inputalign  {
  display: table-cell;
}