/* colors
Aqua #2D8992
 - #005760
 - #147079
 - #2D8992
 - #46A2AB
 - #5FBBC4

Black #1E1E1E

Orange #E14F10

Grey #CBCBCC
*/

body {
  background-color: #005760;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px; */
}

main {
  background-color: #5FBBC4;
  box-shadow: 0px 3px 5px 5px #1E1E1E;
  margin: auto;
  /* padding: 5px 5px 5px 5px; */
  max-width: 15in;
  min-width: 4in;
  /* align-self: center; */
}

header {
  /* background-color: #46A2AB; */
  color: white;
  text-align: center;
  width: 100%;
  /* height: 0.5in; */
}

#content {
  padding: 10px 5px 5px 5px;
  /* margin: 5px 5px 5px 5px; */
}

/* ===inputs=== */
input {
  width: 1.2in;
}

.inputalign  {
  display: table;
  margin: 10px 0px;
}
.inputalign > p {
  display: table-row;
}
.inputalign > p > label {
  display: table-cell;
  text-align: center;
}
.inputalign > p > input {
  display: table-cell;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

#TableContainer {
  border: 1px dotted #147079;
  margin: 10px 10px;
}

#TableContainer > .flex-container > div > table {
  margin: auto;
}


/* ===table=== */
table {
  border: 1px solid #1E1E1E;
  border-collapse: collapse;
  background-color: #CBCBCC;
  text-align: center;
  padding: 1px 1px 1px 1px;
}

thead {
  border:1px solid #1E1E1E;
  /* color: white; */
}

tr:nth-child(even) {
  background-color: #A3A3A3;
}

td {
  border-left: 1px solid #1E1E1E;
  /* color: white; */
}

td > input {
  width: 0.7in;
}

.isOK {
  background-color: #00FF00;
}

.isNOK {
  background-color: #FF0000;
  color: white;
}

.pie-chart {
  background: conic-gradient(red 0%); /* only changes default view */
  border-radius: 50%;
  width: 20px;
  height: 20px;
}